<form action="/items/<%= @item.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <input type="text" name="content" value="<%= @item.content %>" />
  <button>Update it</button>
</form>