<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <header>
    <nav>
      <a href="/items">Item List</a>
      <a href="/items/new">Add an item</a>
    </nav>
  </header>

  <!-- you have access to the session inside template!!! isn't that great! -->
  <% if session[:message] %>
    <p class="message <%= session[:message][:status] %>"><%= session[:message][:text] %></p>
  <% 
    end 
    session[:message] = nil # so that the user won't keep seeing the message after the first time
  %>


  <%= yield %>

</body>
</html>