<h2>Log in here</h2>
<form action="/user/login" method="POST">
  <input type="text" name="username" placeholder="username"/>
  <input type="password" name="password" placeholder="password"/>
  <button>Login</button>
</form>
<small>Need an account? Sign up <a href="/user/register">here</a></small>